<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	
	<log4net>

		<root>
			<!--valueに指定したLevel以上のログが出力される。指定したLevelだけが出力されるわけではないことに注意する。-->
			<level value="ALL"/>
			<!--設定したappenderを追加する-->
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="ColoredConsoleAppender"/>
			<appender-ref ref="ManagedColoredConsoleAppender"/>
			<appender-ref ref="FileAppender"/>
			<appender-ref ref="RollingFileAppender"/>
			<appender-ref ref="AdoNetAppender"/>
			<appender-ref ref="SmtpAppender"/>
		</root>

		<!--ほかに使用したいAppenderがある場合は以下を参照-->
		<!--https://logging.apache.org/log4net/release/features.html-->

		<!--ログをコンソールに出力するAppender-->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<!--%date → 日時-->
				<!--%-5p → 左寄せ5文字-->
				<!--%level → ログレベル-->
				<!--%message → ログメッセージ-->
				<!--%logger → GerLogeerメソッドの引数に渡した値-->
				<!--%thread → スレッド番号-->
				<!--%newline → 改行コード-->
				<!--%line → 行番号-->
				<!--%location → ログイベントが発生した場所 (ファイル名:行番号)-->
				<!--%class → ログイベントが発生したクラス名-->
				<!--%method → ログイベントが発生したメソッド名-->
				<!--%file → ログイベントが発生したファイル名-->
				<!--%exception → 例外情報-->
				<!--%identity → ユーザー名-->
				<!--%domain → ドメイン名-->
				<!--%property{key} → ログコンテキストプロパティ (keyはプロパティ名)-->
				<conversionPattern value="data=%date %n-10p=[%-10p] %nlogger=%logger %nline=%line %nthread=%thread %nmessage=%message %nlcoation=%location %nclass=%class %nmethod=%method %nfile=%file"/>
			</layout>
		</appender>

		<!--ログレベルごとに色分けしてコンソールに出力するAppender-->
		<!--1つのAppenderにつき1つのレベルしか設定できない-->
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Blue" />
				<backColor value="Yellow, HighIntensity" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>

		<!--ログレベルごとに色分けしてコンソールに出力するAppender-->
		<!--ColoredConsoleAppenderとは異なり複数のレベルを設定できる-->
		<appender name="ManagedColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
			<mapping>
				<level value="DEBUG" />
				<foreColor value="White" />
				<backColor value="Blue" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="Green" />
				<backColor value="Black" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<foreColor value="Yellow" />
				<backColor value="Black" />
			</mapping>
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red" />
				<backColor value="White" />
			</mapping>
			<mapping>
				<level value="FATAL" />
				<foreColor value="White" />
				<backColor value="Red" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>

		<!--ログをファイルに出力するAppender-->
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="Log_FileAppender.txt" />
			<encoding value="shift_jis" />
			<appendToFile value="true" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="WARN" />
				<param name="LevelMax" value="WARN" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>

		<!--ログを複数ファイルに出力するAppender-->
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log_RollingFileAppender.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="100KB" />
			<staticLogFileName value="true" />
			<DatePattern value='"."yyyyMMdd".log"' />
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="FATAL" />
				<param name="LevelMax" value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>

		<!--ログをDBに出力するAppender-->
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			bufferSizeに指定したログがたまったときにDBに出力される
			<bufferSize value="100" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="Data Source=DESKTOP-A61ILTM;Initial Catalog=Log;Integrated Security=True;TrustServerCertificate=True" />
			<commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="2000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>

	</log4net>
</configuration>